/*Home Page*/

/* Base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #F5F5F5;
  background: #27343E;
  line-height: 1.4;
}


/* Header + Navigation */
.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1rem;
  background-color: transparent;
  font-weight: 200;
}

/*Name logo on the right of the bar*/
.nameLogo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;   /* Rem is relative to default size */   
  gap: 0rem;
  font-size: 2.5vw; /* vw is even to 1 % of the current width */
}

/*Navigation menu on the right of the bar*/
.navigationMenu ul {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  gap: 0rem;
  list-style: none; /* without any decoration */
  font-size: 1.2vw;
}

/*Link decoration*/

.navigationMenu a {
  text-decoration: none;
  color: #F5F5F5;
}

/*Underline and size up when hover*/ 

.navigationMenu a:hover {
  font-size: 1.5vw;
  text-decoration: underline;
}

/* Footer */

footer {
  position: absolute; /* Sticking to the bottom of the page */
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: x-small;
}

/*Main content*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-weight: 300;
}

/* Right side */

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  height: auto;
  position: absolute;
  top: 18%;
  left: 65%;
  gap: 1rem;
}

/*  Main image  */
.homeImage {
  width: 70%;
  height: auto;
  border-radius: 8px;
}

/* 'Based in helsinki' */
.location {
  position: relative; /* This causes location text to change its position based on original position */
  left: 50%;
}

/*Left side*/
.leftSide {
  position: absolute;
  top: 55%;
  left: 20%;
  display: flex;
  align-items: flex-start;
  margin-top: 1%;
  gap: 8%;
  width: 25%;
}

/* Hide in responsive */
.arrow {
  width: 70%;
  height: auto;
  cursor: pointer; 
}

.oboePicture {
  width: 60%;
  height: auto;
  border-radius: 8px;
}

/* Contact info text */
.homePageText {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 0.9rem;
  line-height: 1.5;
}


/* Backgound decorative name letters, hide in responsive*/
.backgroundText {
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 20vw;
  font-weight: 800;
  margin: 0;
  letter-spacing: 0.25rem;
}


/*Responsive*/

@media (max-width: 800px) {

  .navigationBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
  }

  .navigationMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    font-size: 5vw;
    padding-right: 0;
  }

  .navigationMenu a {
    text-decoration: none;
    color: #F5F5F5;
  }


  .navigationMenu a:hover {
    font-size: 5vw;
    text-decoration: underline;
  }

  .nameLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 5vw;
    gap: 2vw;
    padding-left: 0;
    font-weight: 400;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .rightSide {
    position: static; /* Static means not affected by left or right properties */
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }


  .leftSide {
    position: static;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .location {
    position: static;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem; 
  }

  .homePageText {
    position: static;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .homeImage {
    width: 90%;
    height: auto;
    display: block; /* to take up full width */
  }

  .oboePicture {
    width: 90%;
    height: auto;
    display: block;
  }

  /* NOT displaying */
  
  .arrow {
    display: none;
  }
  
  .backgroundText {
    display: none;
  }

  footer {
    display: none;
  }

}